:root {
	--dark1: #3c4344; /* outline color */
	--dark2: white; /* image background color */
	--main1: #003399; /* mic box/filter color */
	--main2: #001e5a; /* mic list background color */
	--main3: #c98c5b; /* button color */
	--light1: rgb(199, 199, 199); /* header color */
	--light2: rgb(223, 223, 223); /* page background color */
	--light3: rgb(238, 238, 238); /* background */
}
.lexend-400 {
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
body {
	background-color: var(--light3);
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-size: 2vmin;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 250%;
	background-image: url("/img/grid.png");
	animation: forward 211s linear infinite alternate;
}
#fakebody {
	z-index: -100000;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 250%;
	background-image: url("/img/grid.png");
	animation: backward 307s linear infinite alternate;
}
#container {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#scrollarea {
	width: 20%;
	height: 100%;
}
#header {
	margin-top: 5%;
	font-size: 3.5vmin;
	color: black;
	font-weight: 650;
	width: 100%;
	margin-left: calc(4% + 1.5vmin);
	text-align: center;
}
#info {
	width: 100%;
	margin-left: calc(4% + 1.5vmin);
	background-color: var(--light2);
	border: #003399 solid 0.5vmin;
	border-radius: 0.5vmin;
}
#p1 {
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
	margin-left: calc(4% + 1.5vmin);
}
.subpage {
	width: 100%;
	height: 15%;
	background-color: var(--light2);
	margin-left: 9%;
	margin-right: 4%;
	margin-top: 2.5%;
	border: #003399 solid 0.5vmin;
	border-radius: 1vmin;
	font-size: 1.5vmin;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.title {
	font-size: 4vmin;
	padding-top: 1%;
	padding-left: 1%;
}
.description {
	padding-left: 3%;
	padding-right: 3%;
	font-size: 2vmin;
}
.subcontainer {
	height: 100%;
	width: 75%;
	display: flex;
	flex-direction: column;
}
.subcontainer > a {
	background-color: var(--light1);
	display: block;
	width: 20%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5vmin;
	border: var(--main1) solid 0.5vmin;
	border-radius: 0.5vmin;
	transition-duration: 500ms;
	position: relative;
	left: 75%;
}
.subcontainer > a:hover {
	filter: brightness(0.75);
}
.backgroundimage {
	aspect-ratio: 1 / 1;
	height: 100%;
	max-width: 25%;
	mask-image: linear-gradient(112deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%, var(--light2) 100%);
	align-self: flex-end;
}
.backgroundimage > img {
	aspect-ratio: 1 / 1;
	height: 100%;
	top: -100%;
	right: 0;
}
img {
	pointer-events: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
#highlight {
	height: 25%;
	width: 100%;
	overflow-x: scroll;
	position: relative;
	margin-left: calc(4% + 1.5vmin);
	background-color: var(--light2);
	border: #003399 solid 0.5vmin;
	border-radius: 0.5vmin;
}
#Highlights {
	margin-top: 2.5%;
	text-align: center;
	font-size: 3vmin;
	font-weight: 600;
	width: 100%;
	margin-left: calc(4% + 1.5vmin);
}
#highlightsub {
	margin-left: calc(4% + 1.5vmin);
	text-align: center;
	width: 100%;
}
#timeline {
	height: 1vmin;
	width: 998%; /* +100% for every year, -2% for the margin */
	background-color: var(--main2);
	position: absolute;
	bottom: 10%;
	margin: 0% 2%;
	border-left: var(--main2) solid 0.25vmin;
	border-radius: 10vmin;
}
.timelineentry {
	margin-top: 10%;
	width: 100%;
	flex: 0 0 100%;
	height: calc(90% - 0.5vmin);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timelinetitle {
	font-size: 6vmin;
	font-weight: 700;
}
.timelinedesc {
	font-size: 3.5vmin;
	margin-bottom: 0.5%;
}
.timelinelink {
	background-color: var(--light1);
	display: block;
	width: 20%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5vmin;
	border: var(--main1) solid 0.25vmin;
	border-radius: 0.5vmin;
	transition-duration: 500ms;
}
.timelinelink:hover {
	filter: brightness(0.75);
}
.timelinecontainer {
	display: flex;
	flex-direction: row;
	overflow-x: none;
	align-items: stretch;
}
#scrollarea {
	width: 20%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	right: 0;
	font-weight: 700;
	font-size: 2.5vmin;
	text-align: right;
	gap: 3%;
}
#scrollarea > a {
	padding-right: 2.5%;
}
a:visited {
	text-decoration: none;
	decoration: none;
}
@keyframes forward {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 100%;
	}
}
@keyframes backward {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -100% -100%;
	}
}
